<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos</title>

	<link th:href="@{/styles/Estilos.css}" rel="stylesheet" />

</head>

<body>
<form th:action="@{/saveProducto}" th:object=${producto} method="POST">
	<div class="menu_Contenedor">
		<div class="menu_Contenedor_Titulo login_Contenedor">
			<h1>♣Heladeria Snowy♣</h1>
		</div>

		<div class="menu_Contenedor_Menu">
			<a th:href="@{/listarUsuario}" class="menu_Contenedor_Usuarios">
				Usuarios
			</a>
			<a th:href="@{/listarCliente}" class= "menu_Contenedor_Clientes">
				Clientes
			</a>
			<a th:href="@{/listarProveedor}" class="menu_Contenedor_Proveedores">
				Proveedores
			</a>
			<a  th:href="@{/listarProducto}" class= "menu_Contenedor_Productos">
				Productos
			</a>
			<a  th:href="@{/mostrarFormVentas}" class="menu_Contenedor_Ventas">
				Ventas
			</a>
			<a th:href="@{/reportes}" class="menu_Contenedor_Reportes">
				Reportes
			</a>

		</div>
	</div>
	<div class="Contenido_Clientes">
		<div class="Contenido_Clientes_div">
			<div class="Contenido_Clientes_cuadros">
				<label for="Codigo"> Codigo </label>
				<input th:field="*{codigo_Producto}"type="text" name="codigo_Producto" placeholder="Digite el codigo"/><BR>

			</div>

			<div class="Contenido_Clientes_cuadros">
				<label for="Nombre"> Producto </label>
				<input th:field="*{nombre_Producto}"type="text" name="nombre_Producto" placeholder="Digite nombre del producto"/><BR>
			</div>

		</div>
		<div class="Contenido_Clientes_div">
			<div class="Contenido_Clientes_cuadros">
				<label for="Nit_Proveedor"> Nit Proveedor </label>
				<input th:field="*{nit_Proveedor}" type="text" name="nit_Proveedor" placeholder="Digite NIT del proveedor"/><BR>

			</div>

			<div class="Contenido_Clientes_cuadros">
				<label for="Costo"> Costo </label>
				<input th:field="*{precio_Compra}" type="text" name="costo" placeholder="Digite el costo"/><BR>
			</div>

		</div>

		<div class="Contenido_Clientes_div">
			<div class="Contenido_Clientes_cuadros">
				<label for="Iva"> IVA </label>
				<input th:field="*{iva_Producto}" type="text" name="iva_Producto" placeholder="Digite valor del IVA"/><BR>
			</div>
			<div class="Contenido_Clientes_cuadros">
				<label for="Precio_Venta"> Precio Venta </label>
				<input th:field="*{precio_Venta_Producto}" type="text" name="precio_Venta" placeholder="Digite valor de venta"/><BR>
			</div>
		</div>
	</div>
	<div class="botones_Clientes">
		<div class="botones_Clientes">
			<div class="botones_Clientes_conte">
				<button type="submit" name="consultar_Clientes"> Guardar </button>
			</div>

		</div>

	</div>
</form>
</body>

</html>